<nav class="navbar navbar-expand navbar-light navbar-background">
  <div class="container-fluid">
    <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            routerLink="/auth"
            routerLinkActive="active"
            *ngIf="!isAuthenticated">
          <a class="nav-link">Authenticate</a></li>
        <li class="nav-item"
            routerLink="/recipes"
            routerLinkActive="active">
          <a class="nav-link">Recipes</a></li>
        <li routerLink="/shopping-list"
            routerLinkActive="active">
          <a class="nav-link">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"
            (click)="logout()">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
