<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLink="/auth" routerLinkActive="active"><a>Authenticate</a></li>
        <li routerLink="/recipes" routerLinkActive="active"><a>Recipes</a></li>
        <li routerLink="/shopping-list" routerLinkActive="active"><a>Shopping List</a></li>
      </ul>
    </div>
  </div>
</nav>
