<div class="row">
  <div class="
    col-xs-12
    col-sm-12
    col-md-6 col-md-offset-1
    col-lg-6 col-lg-offset-1">
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Enter your E-Mail</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Enter your password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div>
        <button class="btn custom-btn-primary" [disabled]="!form.valid">{{ submitButtonMessage }}</button>
        |
        <button class="btn custom-btn-danger" (click)="onSwitchMode()">{{ switchButtonMessage }}</button>
      </div>
    </form>
  </div>
</div>
