<div class="row">
  <div class="card mb-3" style="width: 100%">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-thumbnail">
    <div class="card-header">
      <div class="row">
        <div class="col-7">
          <h2>{{ recipe.name }}</h2>
        </div>
        <div class="dropdown justify-content-end">
          <button class="btn custom-btn-primary">Manage Recipe <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a (click)="toShopping()" style="cursor: pointer">To Shopping List</a>
            <a [routerLink]="['/recipes', this.id, 'edit']">Edit Recipe</a>
            <a [routerLink]="['/recipes']" (click)="onDeleteRecipe()">Delete Recipe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text"> {{ recipe.description }} </div>
    </div>
    <div class="card-footer"
         *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} ({{ ingredient.quantity }})
    </div>
  </div>
</div>
