<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <li class="list-group-item clearfix ingredient-item" style="cursor: pointer" *ngFor="let ingredient of getIngredients(); index as i">
        <div>
          <span>{{ ingredient.name }} ({{ ingredient.quantity}})</span>
          <span class="pull-right">
            <button class="btn btn-danger variable-show-button" (click)="deleteIngredient(ingredient)">Delete Item</button>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
