<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="col-xs-12 col-md-5 offset-md-1 mt-4">
      <ul class="list-group">
        <li class="list-group-item clearfix ingredient-item"
            style="cursor: pointer"
            *ngFor="let ingredient of getIngredients(); index as i"
            [@addToList]="addList">
          <div>
            <span>{{ ingredient.name }} ({{ ingredient.quantity}})</span>
            <div class="btn-group float-right">
              <button class="btn custom-btn-warning variable-show-button" (click)="onEditItem(i)">Edit Item</button>
              <button class="btn custom-btn-danger variable-show-button" (click)="deleteIngredient(i)">Delete Item</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
