<div class="card mb-3"
     style="margin-bottom: 5px"
     [routerLink]="[index]"
     routerLinkActive="active">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img
        [src]="recipe.imagePath"
        class="img-thumbnail rounded mx-auto"
        alt="{{ recipe.name }}">
    </div>
  </div>
</div>
